/* ======================================================= */
/* Responsive */
/* ======================================================= */
/*
Media only Stylesheet
Theme License to Striking MultiFlex by Lyon Holdings Ltd (WP Corporate Themes)
*/
/* target devices */
@media only screen and (max-width: 979px) {
	/* layout */
	.inner {
		width: 100%;
	}
	.right_sidebar #main, .left_sidebar #main {
		float: none;
		width: 100%;
	}
	.right_sidebar #main .content, .left_sidebar #main .content {
		width: 100%;
	}
	.right_sidebar #sidebar, .left_sidebar #sidebar {
		float: none;
		margin: 0;
		width: 100%;
	}
	#sidebar {
		padding-top: 40px !important;
		background-image: none !important;
		background-position: left top !important;
		background-repeat: no-repeat !important;
	}
	#sidebar:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 13px;
		background-color: transparent;
		background-image: url("../images/r_sidebar_divider.png") !important;
		background-position: left top !important;
		background-repeat: no-repeat !important;
		content: "";
	}
	#sidebar:after {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 13px;
		background-color: transparent;
		background-image: url("../images/r_sidebar_divider_end.png") !important;
		background-position: right top !important;
		background-repeat: no-repeat !important;
		content: "";
	}
	#sidebar_content {
		background-image: none !important;
	}
	.right_sidebar #sidebar_content.lessgap, .right_sidebar #sidebar_content.lessgap {
		padding-top: 0;
	}
	.right_sidebar #sidebar_content, .left_sidebar #sidebar_content {
		margin-bottom: 0;
		padding: 0;
	}
	.right_sidebar #sidebar_content:after, .left_sidebar #sidebar_content:after {
		display: none;
	}
	.left_sidebar #sidebar_content, .right_sidebar #sidebar_content {
		border-right: none;
		border-left: none;
	}
	/* image */
	figure, .image_styled, .image_frame, .image_frame img {
		max-width: 100% !important;
	}
	.image_frame {
		height: auto !important;
	}
	/* footer */
	#copyright {
		float: none;
		padding-top: .3em;
	}
	#footer_menu:before, #footer_right_area:before {
		position: absolute;
		width: 100%;
		height:1px;
		content: '';
		background: rgba(0, 0, 0, 0.1);
		bottom: 0;
		left: 0;
	}
	#footer_menu, #footer_right_area {
		float: none;
		position: relative;
		padding-bottom: .2em;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		text-align: left;
	}
	#footer_right_area .widget {
		margin-bottom: 0;
	}
	#footer_menu a {
		padding: 0 10px 0 0;
	}
	.slide-shortcode-wrap.alignleft, .slide-shortcode-wrap.alignright {
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 100% !important;
	}
	.box-layout #header-sticker-wrapper.sticker_enabled #header {
		padding-right: 10px;
		padding-left: 10px;
	}
}
/* target small devices */
@media only screen and (max-width: 767px) {
	#header .inner {
		overflow: hidden;
	}
	#logo_text {
		margin-left: 10px;
		left: auto;
	}
	#logo {
		left: auto;
	}
	#logo_text,#logo {
		position: relative;
		bottom: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#logo {
		text-align: center;
	}
	.logo-has-mobile .site-logo {
		display: none;
	}
	.logo-has-mobile .mobile-logo {
		display: inline;
	}
	#top_area {
		position: relative;
		top: auto;
		right: auto;
	}
	.slide-shortcode-wrap {
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 100% !important;
	}
	.table_style .table-wrapper tfoot {
		display: none;
	}
	.fancybox-mobile.skin-video .fancybox-nav {
		display: none;
	}
	/* process steps */
	.process_steps_horizontal {
		margin-bottom: 20px;
	}
	.process_steps_horizontal li {
		overflow: hidden;
		clear: both;
		float: none;
		text-align: left;
		padding: 0 0 60px 0;
		width: auto !important; 
	}
	.process_steps_horizontal li:before {
		top: 0;
		left: 53px;
		height: 100%;
		width: 0;
		border-left-width: 1px;
	}
	.process_steps_horizontal .process_step_icon {
		float: left;
		margin: 0;
		display: inline-block;
	}
	.process_steps_horizontal .process_step_detail {
		overflow: hidden;
		padding-left: 30px;
	}
	.process_steps_horizontal.process_steps_small li:before {
		left: 43px;
	}
	.process_steps_horizontal.process_steps_large li:before {
		left: 60px;
	}
}

/* target 768 */
@media only screen and (min-width: 768px) and (max-width: 979px) {
	body.box-layout .body-warp {
		width:768px;
	}
	.inner {
		width: 748px;
	}
	#sidebar_content {
		/*-webkit-column-gap: 50px;  /* Safari and Chrome */
		-moz-column-gap: 50px;
		column-gap: 50px;

		/*-webkit-column-count: 2; /* Safari and Chrome */
		-moz-column-count: 2;
		column-count: 2;
	}
}

/* target 568 */
@media only screen and (min-width: 568px) and (max-width: 767px) {
	body.box-layout .body-warp {
		width:568px;
	}
	.inner {
		width: 548px;
	}
}

/* target 480 */
@media only screen and (min-width: 480px) and (max-width: 567px) {
	body.box-layout .body-warp {
		width:480px;
	}
	.inner {
		width: 460px;
	}
}

/* target 320 */
@media only screen and (max-width: 479px) {
	body.box-layout .body-warp {
		width:320px;
	}
	.inner {
		width: 300px;
	}
	.entry_left .entry_image {
		width: 100% !important;
		float: none;
	}
	.entry_right .entry_image {
		width: 100% !important;
		float: none;
	}
}

/* portfolio */
@media only screen and (max-width: 979px) {
	.portfolio_one_column .portfolio_image {
		float: none !important;
		width: 100% !important;
	}
	.portfolio_one_column .portfolio_details {
		float: none !important;
		padding-left: 0 !important;
		width: 100% !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	.slogan_text {
		font-size: 30px;
		line-height: 33px;
	}
	.slogan .theme_button span, .slogan .button span {
		font-size: 14px;
	}
	.slogan_small .slogan_text {
		font-size: 26px;
		line-height: 33px;
	}
	.slogan_small .theme_button span, .slogan_small .button span {
		font-size: 14px;
	}
	.slogan_large .slogan_text {
		font-size: 36px;
		line-height: 42px;
	}
	.slogan_large .theme_button span, .slogan_large .button span {
		font-size: 18px;
	}
	.portfolios .portfolio_two_columns {
		margin-right: -30px !important;
	}
	.portfolio_two_columns .portfolio_item {
		margin-right: 30px !important;
		width: 349px !important;
	}
	.portfolios .portfolio_three_columns {
		margin-right: -30px !important;
	}
	.portfolio_three_columns .portfolio_item {
		margin-right: 30px !important;
		width: 349px !important;
	}
	.portfolios .portfolio_four_columns {
		margin-right: -28px !important;
	}
	.portfolio_four_columns .portfolio_item {
		margin-right: 28px !important;
		width: 224px !important;
	}
	.portfolios .portfolio_five_columns {
		margin-right: -24px !important;
	}
	.portfolio_five_columns .portfolio_item {
		margin-right: 24px !important;
		width: 164px !important;
	}
	.portfolios .portfolio_six_columns {
		margin-right: -24px !important;
	}
	.portfolio_six_columns .portfolio_item {
		margin-right: 24px !important;
		width: 164px !important;
	}
	.portfolios .portfolio_seven_columns {
		margin-right: -22px !important;
	}
	.portfolio_seven_columns .portfolio_item {
		margin-right: 22px !important;
		width: 128px !important;
	}
	.portfolios .portfolio_eight_columns {
		margin-right: -22px !important;
	}
	.portfolio_eight_columns .portfolio_item {
		margin-right: 22px !important;
		width: 103px !important;
	}
	.masonry_column_2 .masonry_item {
		width: 354px !important;
	}
	.masonry_column_3 .masonry_item {
		width: 229px !important;
	}
	.masonry_column_4 .masonry_item {
		width: 229px !important;
	}
	.masonry_column_5 .masonry_item {
		width: 167px !important;
	}
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
	.has-gradient #feature {
		background-image: -moz-radial-gradient(center, circle cover, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.1) 100%);
		background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0.1)));
		background-image: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.1) 100%);
		background-image: -o-radial-gradient(center, circle cover, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.1) 100%);
		background-image: -ms-radial-gradient(center, circle cover, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.1) 100%);
		background-image: radial-gradient(circle at center, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.1) 100%);
	}
	.slogan_text {
		font-size: 22px;
		line-height: 28px;
	}
	.slogan .theme_button span, .slogan .button span {
		font-size: 12px;
	}
	.slogan_small .slogan_text {
		font-size: 18px;
		line-height: 28px;
	}
	.slogan_small .theme_button span, .slogan_small .button span {
		font-size: 12px;
	}
	.slogan_large .slogan_text {
		font-size: 30px;
		line-height: 37px;
	}
	.slogan_large .theme_button span, .slogan_large .button span {
		font-size: 16px;
	}
	.portfolios .portfolio_two_columns {
		margin-right: 0 !important;
	}
	.portfolio_two_columns .portfolio_item {
		margin-right: 0 !important;
		width: 100% !important;
	}
	.portfolios .portfolio_three_columns {
		margin-right: 0 !important;
	}
	.portfolio_three_columns .portfolio_item {
		margin-right: 0 !important;
		width: 100% !important;
	}
	.portfolios .portfolio_four_columns {
		margin-right: -26px !important;
	}
	.portfolio_four_columns .portfolio_item {
		margin-right: 26px !important;
		width: 251px !important;
	}
	.portfolios .portfolio_five_columns {
		margin-right: -24px !important;
	}
	.portfolio_five_columns .portfolio_item {
		margin-right: 24px !important;
		width: 160px !important;
	}
	.portfolios .portfolio_six_columns {
		margin-right: -24px !important;
	}
	.portfolio_six_columns .portfolio_item {
		margin-right: 24px !important;
		width: 160px !important;
	}
	.portfolios .portfolio_seven_columns {
		margin-right: -20px !important;
	}
	.portfolio_seven_columns .portfolio_item {
		margin-right: 20px !important;
		width: 117px !important;
	}
	.portfolios .portfolio_eight_columns {
		margin-right: -17px !important;
	}
	.portfolio_eight_columns .portfolio_item {
		margin-right: 17px !important;
		width: 92px !important;
	}
	.masonry_column_2 .masonry_item {
		width: 528px !important;
	}
	.masonry_column_3 .masonry_item {
		width: 254px !important;
	}
	.masonry_column_4 .masonry_item {
		width: 254px !important;
	}
	.masonry_column_5 .masonry_item {
		width: 162.5px !important;
	}
}
@media only screen and (max-width: 567px) {
	.has-gradient #feature {
		background-image: -moz-radial-gradient(center, circle cover, rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.15) 100%);
		background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.35)), color-stop(100%,rgba(255,255,255,0.15)));
		background-image: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.15) 100%);
		background-image: -o-radial-gradient(center, circle cover, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.15) 100%);
		background-image: -ms-radial-gradient(center, circle cover, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.15) 100%);
		background-image: radial-gradient(circle at center, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.15) 100%);
	}
	.theme_note.alignleft, .note.alignleft, .note.alignright, .theme_note.alignright {
		margin: 0 0 20px 0 !important;
		width: 100% !important;
		float: none;
	}
	.slogan_text {
		font-size: 22px;
		line-height: 1.2em;
		text-align: center;
		display: block;
	}
	.slogan .theme_button, .slogan .button {
		margin-top: 10px;
		float: none;
	}
	.slogan_with_button .slogan_text {
		float: none;
	}
	.slogan .theme_button, .slogan .theme_button span, .slogan .button, .slogan .button span {
		font-size: 14px;
		display: block;
	}
	.slogan_small .slogan_text {
		font-size: 20px;
		line-height: 1.2em;
	}
	.slogan_large .slogan_text {
		font-size: 28px;
		line-height: 1.2em;
	}
	.slogan_small .theme_button span, .slogan_small .button span {
		font-size: 12px;
	}
	.slogan_large .theme_button span, .slogan_large .button span {
		font-size: 16px;
	}
	.masonry_column_2 .masonry_item {
		width: 100% !important;
	}
	.masonry_column_3 .masonry_item {
		width: 100% !important;
	}
	.masonry_column_4 .masonry_item {
		width: 100% !important;
	}
	.masonry_column_5 .masonry_item {
		width: 100% !important;
	}
}


@media only screen and (min-width: 480px) and (max-width: 567px) {
	.portfolios .portfolio_two_columns {
		margin-right: 0 !important;
	}
	.portfolio_two_columns .portfolio_item {
		margin-right: 0 !important;
		width: 100% !important;
	}
	.portfolios .portfolio_three_columns {
		margin-right: 0 !important;
	}
	.portfolio_three_columns .portfolio_item {
		margin-right: 0 !important;
		width: 100% !important;
	}
	.portfolios .portfolio_four_columns {
		margin-right: -26px !important;
	}
	.portfolio_four_columns .portfolio_item {
		margin-right: 26px !important;
		width: 207px !important;
	}
	.portfolios .portfolio_five_columns {
		margin-right: -24px !important;
	}
	.portfolio_five_columns .portfolio_item {
		margin-right: 24px !important;
		width: 208px !important;
	}
	.portfolios .portfolio_six_columns {
		margin-right: -22px !important;
	}
	.portfolio_six_columns .portfolio_item {
		margin-right: 22px !important;
		width: 132px !important;
	}
	.portfolios .portfolio_seven_columns {
		margin-right: -25px !important;
	}
	.portfolio_seven_columns .portfolio_item {
		margin-right: 25px !important;
		width: 130px !important;
	}
	.portfolios .portfolio_eight_columns {
		margin-right: -20px !important;
	}
	.portfolio_eight_columns .portfolio_item {
		margin-right: 20px !important;
		width: 95px !important;
	}
}

@media only screen and (max-width: 479px) {
	.slogan_text {
		font-size: 20px;
	}
	.portfolios .portfolio_two_columns {
		margin-right: 0 !important;
	}
	.portfolio_two_columns .portfolio_item {
		margin-right: 0 !important;
		width: 100% !important;
	}
	.portfolios .portfolio_three_columns {
		margin-right: 0 !important;
	}
	.portfolio_three_columns .portfolio_item {
		margin-right: 0 !important;
		width: 100% !important;
	}
	.portfolios .portfolio_four_columns {
		margin-right: 0 !important;
	}
	.portfolio_four_columns .portfolio_item {
		margin-right: 0 !important;
		width: 100% !important;
	}
	.portfolios .portfolio_five_columns {
		margin-right: 0 !important;
	}
	.portfolio_five_columns .portfolio_item {
		margin-right: 0 !important;
		width: 100% !important;
	}
	.portfolios .portfolio_six_columns {
		margin-right: -20px !important;
	}
	.portfolio_six_columns .portfolio_item {
		margin-right: 20px !important;
		width: 130px !important;
	}
	.portfolios .portfolio_seven_columns {
		margin-right: -24px !important;
	}
	.portfolio_seven_columns .portfolio_item {
		margin-right: 24px !important;
		width: 128px !important;
	}
	.portfolios .portfolio_eight_columns {
		margin-right: -22px !important;
	}
	.portfolio_eight_columns .portfolio_item {
		margin-right: 22px !important;
		width: 129px !important;
	}
}
/* Mobile */
@media only screen and (max-width: 767px) {
	.entry_image.image_styled, .entry_image .image_frame, .entry_image .image_frame img {
		width: 100% !important;
	}
	.entry_right .entry_image, .entry_left .entry_image {
		float: none;
		margin-top: 0;
		margin-left: 0;
	}
	
	table.responsive { margin-bottom: 0; }
	
	.pinned {
		float: left;
		width: 35%;
		overflow: hidden;
		overflow-x: scroll;
	}
	.pinned table {
		border-right: none;
		border-left: none;
		width: 100%;
	}
	.pinned table th,
	.pinned table td { 
		white-space: nowrap;
	}
	.pinned td:last-child {
		border-bottom: 0;
	}
	
	div.table-wrapper {
		position: relative;
		overflow: hidden;
		margin-left:1px;
		clear:both;
		border-left: 1px solid #e5e5e5;
		border-right: 1px solid #e5e5e5;
	}
	.scrollable table {
		border-right: none;
	}
	div.table-wrapper div.scrollable { 
		overflow: scroll;
		overflow-y: hidden;
		float: right;
		width: 65%;
	}
	table.responsive td, table.responsive th {
		position: relative; 
		white-space: nowrap; 
		overflow: hidden; 
	}
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { 
		display: none; 
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	:not([class^="one_"]) > .one_half, 
	:not([class^="one_"]) > .one_third, 
	:not([class^="one_"]) > .two_third, 
	:not([class^="one_"]) > .three_fourth, 
	:not([class^="one_"]) > .one_fourth, 
	:not([class^="one_"]) > .one_fifth, 
	:not([class^="one_"]) > .two_fifth, 
	:not([class^="one_"]) > .three_fifth, 
	:not([class^="one_"]) > .four_fifth, 
	:not([class^="one_"]) > .one_sixth, 
	:not([class^="one_"]) > .five_sixth {
		display: block;
		float: none;
		margin: 0;
		width: none;
		width: 100%;
		clear: both;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {


}


/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../images/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../images/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}